<style>
#btnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #FF9800;
  color: white;
  cursor: pointer;
  padding: 0 5px;
  border-radius: 10px;
  font-size: 18px;
}
#btnTop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  line-height: 3rem;
  color: #fff;
}
#btnTop:hover{cursor:pointer;background-color:#333;}
#btnTop:active{background-color:#555;}
</style>
<button onclick="goToTop()" id="btnTop" title="Go to top"></button>
<script>
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
  if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
    document.getElementById("btnTop").style.display = "block";
  } else {
    document.getElementById("btnTop").style.display = "none";
  }
}
function goToTop() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>