---
---
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.35;
}
body {
  color: #555;
  background: #fcf6e6;
}
.fixed-top-clear {height: 56px;}

.jumbotron {
  position: relative;
  color: #312A25;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,1e5799+50&0+0,1+35 */
  background: -moz-linear-gradient(left, rgba(233, 198, 175,0) 0%, rgba(233, 198, 175,1) 40%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(233, 198, 175,0) 0%,rgba(233, 198, 175,1) 40%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(233, 198, 175,0) 0%,rgba(233, 198, 175,1) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCF5E5', endColorstr='#E9C6AF',GradientType=1 ); /* IE6-9 */
}
.jumbotron-bg-img {
  content: "";
  background-image: url(../images/og-image.png);
  background-size: cover;
  width: 470px;
  height: 326px;
  position: absolute;
  top: 0;
  right: 5rem;
  z-index: 100;
}

a.card, .sb-group p {text-decoration: none;color: #555;}
a.card *:hover {color: #777;}
.card .img-container {
  max-height: 200px;
  overflow: hidden;
}
.card img.card-img-top {min-height: 200px;}
.sb-group p {margin-bottom: 0;}

.sidebar {position: relative;}
// .sidebar .sb-group {position: fixed;}

.flex-container {
  margin-right: -20px;
}
.flex-item {
  margin-right: 20px;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {.flex-item{flex: 45%;}}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {.flex-item{flex: 45%;}}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {.flex-item{flex: 35%;}}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {.flex-item{flex: 25%;}}

.social-media svg {width: 30px;}

.post-content img {
  max-width: 100%;
  height: auto;
}

.navi [class^="navi-btn-"] {
  border-top: 1px solid rgba(204,153,119,0.2);
  border-bottom: 1px solid rgba(204,153,119,0.2);
  background: rgba(237,216,183,0.15);
  color: #c97;
  cursor: pointer;
  text-decoration: none;
}
.navi [class^="navi-btn-"]:hover {color:#fff;background:rgba(237,216,183,0.8)}