<hr>
<footer class="container py-4">
	<div class="d-flex justify-content-between mb-3">
		<div class="social-media">
			<span class="mr-3">{% include components/brands/icon-facebook.html username=site.facebook_username id=site.facebook_id %}</span>
			<span>{% include components/brands/icon-twitter.html username=site.twitter_username %}</span>
		</div>
		<span><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank" class="btn btn-outline-success btn-sm">Subscribe via RSS</a></span>
	</div>
	<p class="text-center">Copyright &copy; 2018-2019 funfunvietnam.com All Rights Reserved.<p>
</footer>