<nav class="navbar navbar-expand-md navbar-light fixed-top bg-warning shadow-sm">
  <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsCollapse" aria-controls="navbarsCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item{% if page.layout == 'page-posts' or layout.header == 'post' %} active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/pages/posts/1.html">Posts <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item{% if page.layout == 'page-vietnamese' or layout.header == 'vietnamese' %} active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/pages/vietnamese/1.html">Learn Vietnamese <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item{% if page.layout == 'page-apps' or layout.header == 'apps' %} active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/pages/apps/1.html">Apps <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="fixed-top-clear"></div>