<div class="w-100 mb-4" style="padding-right: 20px;">
  <div class="bg-warning card">
    <div class="card-body">
      <h5 class="card-title d-flex justify-content-between mb-0">
        <span></span>
        <a href="{{ site.baseurl }}/pages/vietnamese/1.html" class="text-dark text-decoration-none">Articles</a>
        <span>
          <a href="{{ site.baseurl }}/pages/vietnamese/vocabulary/1.html">
            <div class="badge badge-success">{{ include.voca_size }}</div>
          </a>
          <a href="{{ site.baseurl }}/pages/vietnamese/grammar/1.html">
            <div class="badge badge-primary">{{ include.grammar_size }}</div>
          </a>
        </span>
      </h5>
    </div>
  </div>
</div>