---
layout: default
---
<main role="main">
  {% include components/jumbotron.html %}
  <div class="container-fluid">
    <div class="row">
      <!-- content -->
      <div class="col-12 col-md-9">
        <div class="container-fuild">
          <div class="flex-container d-flex flex-wrap justify-content-start">
            {{ content }}
          </div>
          {% include components/navigation-home.html %}
        </div>
      </div>
      <!-- sidebar -->
      {% include components/sidebar.html %}
    </div>
  </div>
</main>