---
layout: default
---

<main role="main">
  {% include components/jumbotron.html %}
  <div class="container-fluid">
    <div class="row">
      <!-- content -->
      <div class="col-12 col-md-9">
        <div class="container-fuild">
          <div class="flex-container d-flex flex-wrap justify-content-start">
            {% for post in site.posts limit: page.pagelimit offset: page.pageoffset %}
            <div class="flex-item h-100">
              <a href="{{ post.url | prepend: site.baseurl }}" class="card mb-4">
                <span class="img-container">
                  {% if post.thumbnailref %}
                  <img class="card-img-top" src="{{ post.thumbnailref }}">
                  {% elsif post.thumbnail %}
                  <img class="card-img-top" src="{{ post.thumbnail | prepend: site.baseurl | prepend: site.url }}">
                  {% endif %}
                </span>
                <div class="card-body ">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p class="card-text text-right small">{{ post.date | date: "%B %-d, %Y" }}</p>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
          <div class="row navi px-3 mb-3">
            {% if page.pageprev %}
            <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}" class="navi-btn-prev col-6 text-center py-4"><h3>&laquo; PREV</h3></a>
            {% else %}
            <div class="col-6 text-center py-4"></div>
            {% endif %}
            {% if page.pagenext %}
            <a href="{{ page.pagenext | prepend: site.baseurl | prepend: site.url }}" class="navi-btn-next col-6 text-center py-4"><h3>NEXT &raquo;</h3></a>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- sidebar -->
      {% include components/sidebar.html %}
    </div>
  </div>
</main>