---
layout: index-page
header: vietnamese
---
{% assign voca = site.vietnamese | where: "categories", "vocabulary" %}
{% assign grammars = site.vietnamese | where: "categories", "grammar" %}
{% assign posts = grammars | limit: page.page-limit | offset: page.page-offset %}

<div class="flex-container d-flex flex-wrap justify-content-start">
{% include components/index-page/vietnamese-posts-header.html voca_size=voca.size grammar_size=grammars.size %}
{% include components/index-page/flex-items-m2c.html posts=posts %}
</div>
{% include components/navigation-category.html %}