---
layout: index-page
---
<div class="flex-container d-flex flex-wrap justify-content-start">
{% for post in site.apps limit: page.page-limit offset: page.page-offset %}
{% if post.visibility == "no-show-in-home" %}{% continue %}{% endif %}
<div class="flex-item h-100">
  <a href="{{ post.url | prepend: site.baseurl }}" class="card mb-4">
    <span class="img-container">
      {% if post.thumbnailref %}
      <img class="card-img-top" src="{{ post.thumbnailref }}">
      {% elsif post.thumbnail %}
      <img class="card-img-top" src="{{ post.thumbnail | prepend: site.baseurl }}">
      {% endif %}
    </span>
    <div class="card-body ">
      <h5 class="card-title">{{ post.title }}</h5>
      {{post.showinhome}}
    </div>
  </a>
</div>
{% endfor %}
</div>